<% include header.html %>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
<br><br><br><br>
    <!-- Header -->
    <header>
        
        <div class="container">
            <div class="row">
            <h1>Microservices</h1>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <a href="/users" class="list">List of users</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div align="center">

</div>
</body>
