<% include header.html %>
<br><br><br><br>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="/">Home</a>
            </div>
        </div>
    </nav>
    <header>
        <div class="container">
            <span class="title"><h1>List of Users</h1></span>
            <br>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user,i){ %>
                        <tr>
                            <td><%= user.name %></td>
                            <td><%= user.password %></td>
                            <td><%= user.admin %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </header>

    
    
</body>
</html>